.container {
    margin: "16px";
    position:"relative";
}
.buttonContainer {
    display: flex;
    justify-content: center;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #e23433;
    color: #ffffff;
    height: 56px;
    border-radius: 10px;
    border: 0;
    padding: 0 16px;
    width: 200px;
    font-weight: 500;
    margin-top: 16px;
    &:hover {
        background-color: rgba(226,52,51, 0.2);
      }
}